/* Motion Blur CSS */
:root {
    --link-color: #898989;
    --link-hover-color: #fff;
    --transition: all 0.3s ease-in-out 0s;
}

html,
body {
    cursor: none !important;
    /* Hide default cursor */
}

#motion-blur-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    /* Top of everything */
    overflow: hidden;
}

.box {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    margin: -12.5px 0 0 -12.5px;
    /* Center the 25px box */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    cursor: none;
    pointer-events: none;
}

.box.arrow {
    background: url('http://lmgtfy.com/assets/mouse_arrow_windows_aero-b118000dc97d4558d6db021793acc613.png') no-repeat 0 0 transparent;
    border-radius: 0;
}