/* SWIRL BACKGROUND STYLES */

#swirl-background {
    position: fixed;
    inset: 0;
    z-index: -3; /* Behind everything */
    overflow: hidden;
    display: grid;
    place-items: center;
    container-type: size;
    pointer-events: auto; /* Allow clicks on play/pause */
}

/* User Provided CSS starts here, but scoped and refactored */

.swirl-container {
    position: relative;
    display: flex;
    font-size: min(.9cqh, .45cqw);
    --h: 100em;
    height: var(--h);
    width: calc(2*var(--h) - 5.5em);
    pointer-events: none; /* Let clicks pass through empty areas */
}

.swirl-wrapper {
    position: absolute;
    height: 100%;
    width: unset;
    aspect-ratio: 1;
    display: grid;
    pointer-events: auto;
}

.swirl-wrapper:nth-child(2 of .swirl-wrapper) {
    right: 0;
    bottom: unset;
}

.swirl-element {
    position: absolute;
    inset: 0;
    --dur: 10s;
    display: grid;
    align-items: center;
    justify-items: unset;
    animation: swirl-spin var(--dur) linear infinite;
}

.swirl-wrapper:nth-child(2 of .swirl-wrapper) .swirl-element {
    animation-direction: reverse;
}

.swirl-span {
    position: absolute;
    width: 50%;
    height: unset;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    font-size: calc(var(--h)/10);
    rotate: calc(360deg/28*var(--nth)*var(--dir));
    animation: swirl-fade var(--dur) linear infinite;
    animation-delay: calc(-1*var(--dur)/28 * var(--nth));
    --glow: hsl(calc(360deg/28*var(--nth)) 100% 50%);
    text-shadow: 0 0 1em var(--glow), 0 0 .5em var(--glow), 0 0 .25em var(--glow);
    /* Scope vars locally to avoid leaking though vars usually cascade down */
}

.swirl-span:nth-child(1) { --nth: 1;}
.swirl-span:nth-child(2) { --nth: 2;}
.swirl-span:nth-child(3) { --nth: 3;}
.swirl-span:nth-child(4) { --nth: 4;}
.swirl-span:nth-child(5) { --nth: 5;}
.swirl-span:nth-child(6) { --nth: 6;}
.swirl-span:nth-child(7) { --nth: 7;}
.swirl-span:nth-child(8) { --nth: 8;}
.swirl-span:nth-child(9) { --nth: 9;}
.swirl-span:nth-child(10) { --nth: 10;}
.swirl-span:nth-child(11) { --nth: 11;}
.swirl-span:nth-child(12) { --nth: 12;}
.swirl-span:nth-child(13) { --nth: 13;}
.swirl-span:nth-child(14) { --nth: 14;}
.swirl-span:nth-child(15) { --nth: 15;}
.swirl-span:nth-child(16) { --nth: 16;}
.swirl-span:nth-child(17) { --nth: 17;}
.swirl-span:nth-child(18) { --nth: 18;}
.swirl-span:nth-child(19) { --nth: 19;}
.swirl-span:nth-child(20) { --nth: 20;}
.swirl-span:nth-child(21) { --nth: 21;}
.swirl-span:nth-child(22) { --nth: 22;}
.swirl-span:nth-child(23) { --nth: 23;}
.swirl-span:nth-child(24) { --nth: 24;}
.swirl-span:nth-child(25) { --nth: 25;}
.swirl-span:nth-child(26) { --nth: 26;}
.swirl-span:nth-child(27) { --nth: 27;}
.swirl-span:nth-child(28) { --nth: 28;}

.swirl-wrapper:nth-child(1 of .swirl-wrapper) .swirl-span {
    left: 50%;
    text-align: end;
    transform-origin: 0% 50%;
    --dir: 1;
    animation-direction: reverse;
}

.swirl-wrapper:nth-child(2 of .swirl-wrapper) .swirl-span {
    right: 50%;
    text-align: start;
    transform-origin: 100% 50%;
    --dir: -1;
}

@keyframes swirl-spin {
    100% { rotate: 360deg; }
}

@keyframes swirl-fade {
    0%, 10% { opacity: 0; }
    55%, 100% { opacity: 1; }
}

/* Inputs are hidden */
#play-toggle, #case-toggle {
    display: none;
}

.swirl-wrapper label {
    position: absolute;
    width: 20em;
    aspect-ratio: 1;
    place-self: center;
    transition: all .5s ease-in-out;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.col {
    width: 10px;
    position: relative;
    display: grid;
    transition: inherit;
    align-items: center;
}

.dot {
    width: 3em;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: inherit;
    border: 4px solid;
    margin-block: 2px;
}

.dot:nth-child(1) { --nDot: 0; }
.dot:nth-child(2) { --nDot: 1; }
.dot:nth-child(3) { --nDot: 2; }
.dot:nth-child(4) { --nDot: 3; }
.dot:nth-child(5) { --nDot: 4; }

.swirl-wrapper label:hover .dot {
    filter: drop-shadow(0 0 1em var(--glo)) drop-shadow(0 0 .5em var(--glo));
    margin-block: -2px;
}

.playBtn .dot {
    border-color: hsl(calc(120deg - 15deg*(4 - var(--nDot))) 100% calc(25% + 6.25%*(4 - var(--nDot))));
    --glo: #0b0;
}

.pauseBtn .dot {
    border-color: hsl(calc(30deg - 15deg*var(--nDot)) 100% 50%);
    --glo: red;
}

.playBtn:hover .dot { border-color: #bff; }
.pauseBtn:hover .dot { border-color: #fdd; }

#play-toggle:not(:checked) ~ .swirl-container :is(.swirl-element, .swirl-span) {
    animation-play-state: paused;
}

#play-toggle:checked ~ .swirl-container .playBtn,
#play-toggle:not(:checked) ~ .swirl-container .pauseBtn { scale: 0; }

.switchBox {
    position: absolute;
    place-self: end;
    margin: min(3.5cqw, 35px);
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr;
    gap: min(40px, 4cqw);
    transition: all .33s ease-in-out;
    pointer-events: auto;
    z-index: 10;
}

.switchBox label {
    display: block;
    aspect-ratio: 1;
    border-radius: 50%;
    --shade: #fff;
    box-shadow: 0 0 0 min(1cqw, 10px) var(--shade), inset 0 0 0 min(1cqw, 10px) var(--shade);
    mix-blend-mode: lighten;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.switchBox:hover { gap: 0; }

.lowerCase { width: max(3cqw,35px);}
.upperCase { width: max(6cqw,70px); }

#case-toggle:checked ~ .switchBox .lowerCase,
#case-toggle:not(:checked) ~ .switchBox .upperCase { --shade: #555; }

#case-toggle:not(:checked) ~ .swirl-container .swirl-span { text-transform: lowercase; }

@media (orientation: portrait) {
    .swirl-container {
        font-size: min(.9cqw,.45cqh);
        width: var(--h);
        height: calc(2*var(--h) - 11.5em);
    }

    .swirl-wrapper {
        width: 100%;
        height: unset;
        right: unset;
        bottom: 0;
    }

    .swirl-element {
        justify-items: center;
        align-items: unset;
    }

    .swirl-span {
        height: 50%;
        width: unset;
        display: grid;
    }

    .swirl-wrapper:nth-child(1 of .swirl-wrapper) .swirl-span {
        bottom: 50%;
        left: unset;
        text-align: end;
        transform-origin: 50% 100%;
        --dir: 1;
        animation-direction: reverse;
    }

    .swirl-wrapper:nth-child(2 of .swirl-wrapper) .swirl-span {
        top: 50%;
        right: unset;
        text-align: start;
        transform-origin: 50% 0%;
        --dir: -1;
        align-items: end;
    }
}
